html, body, #root {
  margin: 0; padding: 0; height: 100%;
  font-family: sans-serif;
}

.explorer--wrapper {
  display: flex;
  flex-direction: row;
  height: 100% !important;

  div.panel {
    flex: 1;
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    display: flex;
    flex-direction: column;

    h5 {
      margin: 0; padding: 12px;
      background: #aaa;
      color: white;

    }

    #editor {
      flex: 1;
      height: auto !important;
      width: auto !important;
      font-size: 14px;
    }

    &:first-child {
    }
  }

  .error {
    padding: 4px;
    background: red;
    color: white;
  }

  div.output {
    flex: 1;
    padding: 12px;
    white-space: pre;
    font-family: monospace;
    overflow: auto;
    font-size: 14px;
  }
}


///
.Resizer {
  background: #000;
  opacity: .2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}
