html, body, #root {
  margin: 0; padding: 0; height: 100%;
  font-family: sans-serif;
}

.explorer--wrapper {
  display: flex;
  flex-direction: row;
  height: 100% !important;

  > div.panel {
    flex: 1;
    height: 100% !important;
    position: relative;
    display: flex;
    flex-direction: column;

    h5 {
      margin: 0; padding: 12px;
      background: #ccc;
      color: white;

    }

    #editor {
      flex: 1;
      height: auto !important;
      width: auto !important;
    }

    &:first-child {
      border-right: 2px solid #ccc;
    }
  }

  .error {
    padding: 4px;
    background: red;
    color: white;
  }

  div.output {
    flex: 1;
    padding: 12px;
    white-space: pre;
    font-family: monospace;
    overflow: auto;
  }
}
