html, body, #root, #root > div.app {
  margin: 0; padding: 0; height: 100%;
}

#root > div.app {
  display: flex;
  flex-direction: column;

  .mosaic {
    flex: 1;
  }
}

.mosaic-window-body {
  display: flex;
  flex-direction: column;
}
#editor {
  flex: 1;
  height: auto !important;
  width: auto !important;
  font-size: 14px;
}

.raw-output {
  flex: 1;
  display: flex;
  flex-direction: column;

  .error {
    padding: 12px;
    background-color: red;
    font-weight: 500;
    color: white;
  }
  code {
    flex: 1;
    overflow: auto;
    padding: 12px;
    white-space: pre;
    font-family: monospace;
    font-size: 14px;
  }
  .bp3-tag {
    margin-right: 10px;
  }
}

.bp3-navbar {
  .bp3-control.bp3-checkbox {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.bp3-callout {
  ul {
    margin: 0;
    padding: 0;
    padding-left: 20px;
  }

  box-shadow: 0 1px 1px rgba(16, 22, 26, 0.15);
}
